[![Latest Version](https://img.shields.io/pypi/v/{{project_name}}?label=pypi-version&logo=python&style=plastic)](https://pypi.org/project/{{project_name}}/)
[![Python Versions](https://img.shields.io/python/required-version-toml?tomlFilePath=https%3A%2F%2Fraw.githubusercontent.com%2Fdusktreader%2F{{project_name}}%2Fmain%2Fpyproject.toml&style=plastic&logo=python&label=python-versions)](https://www.python.org/)
[![Build Status](https://github.com/dusktreader/{{project_name}}/actions/workflows/main.yml/badge.svg)](https://github.com/dusktreader/{{project_name}}/actions/workflows/main.yml)
[![Documentation Status](https://github.com/dusktreader/{{project_name}}/actions/workflows/docs.yml/badge.svg)](https://dusktreader.github.io/{{project_name}}/)

> [!IMPORTANT]
> I'm looking for a job right now! If you know of any openings that match my skill-set,
> please let me know! You can read my resume over at [resume site](https://cv.dusktreader.dev). Thanks!!

# {{project_name}}

_{{project_summary}}_


## Super-quick Start

Requires: Python {{python_versions[0]}} to {{python_versions[-1]}}

Install through pip:

```bash
pip install {{project_name}}
```


## Documentation

The complete documentation can be found at the
[{{project_name}} home page](https://dusktreader.github.io/{{project_name}})
